.project-detail {
  position: relative;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    position: absolute;
    width: 40%; // Adjust to control the length of the lines
    height: 1px;
    content: '';
    background-color: black; // Change color if needed
    top: 50%; // Aligns the lines vertically centered
    transform: translateY(-50%); // Ensures the lines are perfectly centered vertically
  }

  &:before {
    left: 20px; // Positions the left line
  }

  &:after {
    right: 20px; // Positions the right line
  }
}

.project-name-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0px 40px;
}

.project-name {
  font-family: 'Switzer-Bold';
  font-size: 2rem;
  padding-bottom: 20px;
}

.details {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex: 1 1 33.33%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 20px 60px 20px 0px;
}

.detail {
  padding: 10px 0px 0px 0px;
  font-family: 'Switzer-Bold';
}
