.admin-actions {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0px 40px 40px 40px;

  h3 {
    font-family: 'Switzer-Bold';
    color: var(--orange);
    font-size: 1.5rem;
    padding: 0px 40px 0px 10px;
    margin: 0px 0px 20px 0px;
  }

  // button {
  //   background: transparent;
  //   border: none;
  //   font-size: 1rem;
  //   font-family: 'Switzer-Bold';
  //   transition: color 0.3s ease;
  //   padding: 10px;
  //   box-shadow: inset 0px 14px 16px 0px rgba(0, 0, 0, 0.2);
  //   border-radius: 10px;
  // }

  a {
    transition: color 0.3s ease;
    // padding: 10px;
    // box-shadow: inset 0px 14px 16px 0px rgba(0, 0, 0, 0.2);
    // border-radius: 10px;
  }

  // button:hover {
  //   color: var(--orange);
  // }

  // a:hover {
  //   color: var(--orange);
  // }
}

.admin-actions-buttons {
  font-size: 1rem;
  display: flex;
  gap: 20px;
  font-family: 'Switzer-Bold';

}


.project-detail {
  position: relative;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    position: absolute;
    width: 40%; // Adjust to control the length of the lines
    height: 1px;
    content: '';
    background-color: black; // Change color if needed
    top: 50%; // Aligns the lines vertically centered
    transform: translateY(-50%); // Ensures the lines are perfectly centered vertically
  }

  &:before {
    left: 20px; // Positions the left line
  }

  &:after {
    right: 20px; // Positions the right line
  }
}

.project-name-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0px 40px;
}

.project-name {
  font-family: 'Switzer-Bold';
  font-size: 2rem;
  padding-bottom: 20px;
}

.details {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex: 1 1 33.33%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 20px 60px 20px 0px;
  text-align: start;
}

.detail {
  padding: 10px 0px 0px 0px;
  font-family: 'Switzer-Bold';
  text-align: start;
}

strong {
  font-family: 'Switzer-Bold';
}

.project-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px 20px 40px;
  gap: 40px;
}

.project-description {
  text-align: start;
  z-index: 1;
}

#project-photo {
  // width: 100%;
  // height: auto;
  // position: relative;
  // top: 0;
  // margin-top: 0;
  // padding: 40px;

  position: sticky;
  top: 0; /* Stick the image to the top of its container */
  width: 100%;
  height: auto;
  padding: 40px;
  z-index: 2;
}

.photos {
  width: 100%;
  height: 100%;
  position: relative;
}

// responsivness

@media (max-width: 600px) {

  .project-detail {
    &:before,
    &:after {
      width: 20%;
    }
  }

  .project-desc {
    grid-template-columns: 1fr;
  }

  .project-description {
    grid-column: 1 / 2;
  }

  .project-photo {
    grid-column: 1 / 2;
  }

  #project-photo {
    padding: 0px;
  }
}

@media (max-width: 771px) {
  .project-detail {
    &:before,
    &:after {
      width: 30%;
    }
  }

  .details {
    width: 80%;
  }
}

@media  (max-width: 450px) {
  .details {
    width: 90%;
  }
}

@media  (max-width: 417px) {
  .details {
    width: 0%;
    padding: 0px;
  }

  .project-detail {
    &:before,
    &:after {
      width: 20%;
    }
  }

  .group {
    flex-direction: row;
    gap: 20px;
  }

  .admin-actions {
    align-items: center;
  }
}
