/* app/assets/stylesheets/pages.css */
.section {
  padding: 20px;
  color: #FEFCFF;
  text-align: center;
}

.section-1 {
  background-color: #004080; /* Navy blue */
}

.section-2 {
  background-color: #0073e6; /* Bright blue */
}

.section-3 {
  background-color: #66b3ff; /* Light blue */
}

.section-4 {
  background-color: #cce6ff; /* Very light blue */
}
