.about-content {
  background-color: var(--grey);
  color: var(--milky-white);
  height: 20vh;
  // width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  flex-direction: column;
  padding: 40px;
  font-size: large;
  // direction: ltr;

  button {
    color: var(--milky-white);
  }

  .abt-txt {
    text-align: left;
  }
}
