.about-section {
  height: 50vh;
  /* Make sure the section takes up the full viewport height */
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1540103711724-ebf833bde8d1?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: var(--milky-white);
  background-size: cover;
  background-attachment: fixed;
  /* This will create the parallax effect */
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  flex-direction: column;
  font-size: 1rem;
  box-sizing: border-box;
}

.about-content button {
  color: var(--milky-white);
  font-size: 1rem;
}

.about-content .abt-txt {
  text-align: left;
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
  .about-content h3, .abt-txt {
    text-align: center;
  }
}

.center-title {
  letter-spacing: 2px;
  font-family: 'Switzer-Bold';
  color: var(--orange);
}
