/* app/assets/stylesheets/pages.css */
/* app/assets/stylesheets/abuts.scss or app/assets/stylesheets/application.scss */

/* Define the color variables */
:root {
  --milky-white: #FEFCFF;
  --orange: #EA5D30;
  --grey: #1D2327;
}

body {
  background-color: var(--milky-white);
  color: var(--grey);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust the height as needed */
}

.about-us-overlay {
  position: absolute; /* position the div relative to the parent element */
  top: 50%; /* centres the div vertically */
  left: 0; /* centres the div horizontally */
  transform: translateY( -50%);
  color: white; /* text color */
  border-radius: 5px;
  padding-left: 20px;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}

.full-width-image img { /* control the first image */
  filter: grayscale(100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35));
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  height: 400px;
  margin-top: 50px;
  filter: grayscale(60%);
}



.description-image {
  flex: 1;
  margin-right: 0px; /* Space between image and text */
  height: 100%;
  width: 50%;
  margin-left: 30px;
}

.description-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes the object fill its container. The object will be "clipped" to fit */
}

.description-text {
  flex: 2;
  color: var(--grey);
}

.description-text h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
}

.description-text p {
  margin: 0;
}

.description-text .short-text {
  display: block;
  padding: 30px;
}

.description-text .full-text {
  display: none;
}

.description-text .read-more-link {
  display: block;
  margin-top: 10px;
  color: var(--grey);
  text-decoration: none;
}

.full-width-image {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.full-width-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.industry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.industry {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: var(--milky-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.industry img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.industry p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--grey);
}

.logo img {
  height: 50px; /* Adjust as needed */
  width: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
}

.front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--milky-white);
  color: var(--grey);
  padding-bottom: 40px;
}

.space {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30%;
  width: 100%;
}

/* Team Section */
.team-section {
  text-align: center;
}

.team-grid {
  display: flex;
  justify-content: space-around; /* or space-between */
  gap: 20px;
  flex-wrap: wrap;
}

.team-card {
  border: 1px solid #ccc;
  padding: 15px; /* Increased padding */
  border-radius: 10px;
  width: 300px; /* Increased width */
}

.team-card img {
  width: 100%; /* Ensure the image takes full width of its container */
  height: 250px; /* Increased height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 10px 10px 0 0; /* Optional: match border radius of card */
}

.team-card h3 {
  margin: 15px 0 5px;
  font-size: 22px; /* Slightly increased font size */
  color: var(--grey);
}

.team-card p {
  margin: 0;
  font-size: 18px; /* Slightly increased font size */
  color: var(--grey);
}

.section-4{
  margin-top: 150px;
  margin-bottom: 50px;
}
