section {
  display: grid;
  place-items: center;
  align-items: center;
  // max-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(10px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}
