.expertise-section {
  display: grid;
  height: 70vh;
  grid-template-rows: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.card {
  // background-color: pink;
  border: 1px solid #EA5D30;
  // width: 20%;
  // height: 70%;
  border-radius: 20px;
  max-width: 300px;
  min-width: 150px;
  // aspect-ratio: 1 / 2;
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5vh;
  overflow: hidden;
  padding: 20px;
  font-size: 85%;
  font-family: 'Switzer-Semibold';
  position: relative;

  width: 100%;
  height: 100%;

  place-items: center;
}

.card::before {
  content: attr(data-icon);
  // content: "\f6e3";
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: f007;
  font-family: 'Font Awesome 5 Free';
  text-align: center;
  line-height: 50vh;
  z-index: -1;
}

/* Ensure the icon fills the entire card */
.card.hidden::before {
  font-weight: 900;
  font-size: 10vw;
  color: var(--orange);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icon */
  filter: blur(5px); /* Apply blur effect */
}

.card:nth_child(2) {
  transition-delay: 200ms;
}

.card:nth_child(3) {
  transition-delay: 400ms;
}
