.footer {
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 20px;
  width: 100vw;
  height: 30vh;
  background-color: var(--grey);
  color: var(--milky-white);
  a {
    color: var(--milky-white);
    text-decoration: none;
  }

  a:hover {
    color: var(--orange);
  }

}

.f-section {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.f-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
