.footer {
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 20px;
  // width: 100%;
  width: auto;
  height: auto;
  background-color: var(--grey);
  color: var(--milky-white);
  a {
    color: var(--milky-white);
    text-decoration: none;
  }

  a:hover {
    color: var(--orange);
  }

}

.f-section {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.f-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

@media (max-width: 767px) {
  .footer {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .f-section:nth-child(1) {
    padding: 10px;
    gap: 10px;
    .f-sec:nth-child(2), .f-sec:nth-child(3) {
      display: grid;
      flex-direction: column; /* Stack items vertically within each section */
      gap: 10px; /* Add some spacing between items */
    }
  }

  .two {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // justify-content: left;
    align-items: center;
  }
}
