.portofolio-section {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; /* Create 3 rows with heights 1/4, 2/4, 1/4 of 100vh */
  column-gap: 5%;
  height: 80vh;
  // height: auto;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
}

.box-container {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.box-container, .box-container::before, .box-container::after {
  box-sizing: inherit; /* Inherit box-sizing from the document */
}

.port-text {
  text-align: end;
  font-size: 150%;
  font-family: 'Switzer-Bold';
}

.port-desc {
  text-align: start;
  font-size: 120%;
  font-family: 'Switzer-Semibold';
}

.box {
  position: relative;
  width: 100%;
  height: calc(100% - 285px); /* Adjust height to make room for buttons */
  transform-style: preserve-3d;
  transition: 1.5s;
  transform: perspective(1000px) rotateY(0deg);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-repeat: no-repeat;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));
  box-sizing: border-box;
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  // width: 18vw;
  // height: 40vh;
  width: 100%;
  height: 100%;
  // height: 50vh;
  object-fit: cover;
  user-select: none;
  box-sizing: border-box;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.btn-prev, .btn-next {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--grey);
}

.btn-prev:hover, .btn-next:hover {
  background-color: var(--grey);
}

// @media only screen and (max-width: 1024px) {
//   .portofolio-section {
//     grid-template-columns: 1fr 2fr 1fr; /* Adjust grid layout for medium screens */
//   }

//   .port-desc {
//     font-size: 100%; /* Adjust font size for smaller screens */
//   }
// }

// @media only screen and (max-width: 768px) {

//   .portfolio-section {
//     width: 100%;
//     padding: 20px;
//     box-sizing: border-box;
//   }

//   .carousel {
//     display: flex;
//     overflow-x: auto; /* Enable horizontal scrolling */
//     scroll-snap-type: x mandatory; /* Snap to each image */
//     -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
//   }

//   // .carousel img {
//   //   flex: 0 0 auto; /* Do not grow, shrink, or basis */
//   //   width: 100%; /* Occupy full width */
//   //   scroll-snap-align: start; /* Snap alignment */
//   // }

//   .house {
//     visibility: visible;
//   }

//   .portofolio-section {
//     grid-template-columns: 1fr; /* Single column layout for small screens */
//     height: auto; /* Set height to auto for smaller screens */
//   }

//   .port-text, .port-desc {
//     text-align: center; /* Center align text for small screens */
//   }

//   .box-container {
//     width: 90%; /* Adjust width for smaller screens */
//     margin: 0 auto; /* Center box-container */
//   }

//   .box {
//     height: calc(100% - 200px); /* Adjust height for smaller screens */
//   }

//   .btns {
//     margin-top: 10px; /* Adjust margin for smaller screens */
//   }

//   .btn-prev, .btn-next {
//     padding: 8px 16px; /* Adjust button padding for smaller screens */
//   }
// }
