.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}
.slides-container {
  // height: calc(40vh - 2rem);
  height: auto;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slide {
  width: 100%;
  // height: 40vh;
  height: auto;
  flex: 1 0 (100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.t-sec-one {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  button {
    text-decoration: none;
    background: transparent;
    border: transparent;
    border-radius: 20%;
    font-size: 1.5rem;
  }

  button:hover {
    cursor: pointer;
    color: var(--orange);
  }

}

.company-photo img {
  border-radius: 50%;
  width: 70px;
  aspect-ratio: 1;
}

.testimonial {
  padding: 20px;
  text-align: center;
  width: 70%;
  // height: 30vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EA5D30;
  height: 100%;

}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  position: absolute;
  width: 100%;
  i {
    // position: absolute;
    font-size: 10vw; /* Adjust size of the icon */
    color: var(--orange); /* Color the icon */
    filter: blur(10px); /* Add blur effect */
    z-index: -1; /* Ensure it stays behind any other content */
  }
}

.icon-container.hidden::before {
  // font-weight: 900; /* Make sure to use the correct font weight */
  font-size: 10vw; /* Adjust the size of the icon */
  color: var(--orange); /* Color the icon */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icon */
  filter: blur(5px); /* Apply blur effect */
}

@media (max-width: 768px) {
  .slide {
      flex: 0 0 50%; /* Two cards visible */
  }

  .icon-container {
    visibility: hidden;
  }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
  .slide {
      flex: 0 0 100%; /* One card visible */
  }

  .icon-container {
    visibility: hidden;
  }
}
