.head {
  position: relative;
  margin-bottom: 30px;
}

.careers-image-1 {
  position: relative;
  height: 100%;
  /* Adjust height as needed */
  width: 100%;
  /* Adjust width as needed */
  overflow: hidden;
  /* Hide overflow to ensure no content spills out */
}

.background-image-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* Ensure the image covers the container's width */
  height: 100%;
  /* Ensure the image covers the container's height */
  object-fit: cover;
  /* Scale image to cover the container */
}

.careers-image-1 img {
  max-height: 650px;
  /* Set the maximum height */
  width: 100%;
  /* Ensure the image scales to fit its container */
  object-fit: cover;
  /* Maintain the aspect ratio and cover the container */
  display: block;
  /* Removes extra space below the image */
}

.container-careers-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 40px 160px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.description-careers {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.description-careers-text {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: end;
  gap: 0px;

  h4 {
    text-align: end;
    font-size: 1.3em;
    color: gray;
  }
}



.vision-mission {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;

  i {
      color: #EA5D30;
    }
}

.vision {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.t-a {
  text-align: left;

  p {
    padding: 5px;
  }
}

.fa-lightbulb:before {
  content: "\f0eb";
  font-size: 2rem;
}

.fa-globe:before {
  content: "\f0ac";
  font-size: 2rem;
}

.image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the element */
  object-position: 0 25%;
    /* Adjusts the image position to focus on the top section */  /* Focuses on the top side of the image */
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, grey);
  opacity: 0.6; /* Adjust the opacity as needed */
}

.divider-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}
.divider-image {
  position: relative;
  height: 50vh;
  /* Adjust height as needed */
  width: 100%;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1533840418139-424cfa449ad1?q=80&w=3083&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  /* Ensures the image covers the entire container */
  background-attachment: fixed;
  /* Basic parallax effect */
  background-position: 50% 70%;
  /* Initial position */
}
.background-image {
  position: absolute;
  /* Position it absolutely within the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the image */
  min-width: 100%;
  /* Ensure the image width covers the container */
  min-height: 100%;
  /* Ensure the image height covers the container */
  object-fit: contain;
  /* Scale image to fit within the container */
}

.divider-image-text {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider-image-text h2 {
  margin: 0;
  font-size: 2em;
  /* Larger font size for main heading */
}

.divider-image-text h4 {
  margin: 5px 0 0;
  font-size: 1em;
  /* Smaller font size for subheading */
  font-weight: normal;
}

transparent-icons-text-1,
.transparent-icons-text {
  width: 200px;
  height: 210px;
  border: 1px solid #16202d;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fefefed9;

  i {
    font-size: 2rem;
  }

  p:nth-of-type(1) {
    font-family: 'Switzer-Bold';
  }
}

.icon {
  font-size: 24px;
  /* Adjust icon size */
  margin-bottom: 5px;
}

.transparent-icons-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: baseline;
  justify-content: center;
  justify-items: center;
  margin: 10px 20%;;
}

.up {
  align-self: center;
}


.interest-form input,
.interest-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.interest-registration h2,
.interest-registration p,
.interest-registration input,
.interest-registration textarea,
.interest-registration button {
  color: black;
  /* Make text black */
}

.interest-form input[type="file"] {
  padding: 0;
}

@media (max-width: 1322px) {
  .container-careers-description {
    margin: 40px 5%;
  }
}

/* Removed empty media query block for max-width: 1280px */

@media (max-width: 971px) {
  .transparent-icons-text-container {
    // margin: 0px;;
  }

  .container-careers-description {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 920px) {

  .divider-image {
    height: auto;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
  }
  .transparent-icons-text-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .divider-image {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 682px) {
  .transparent-icons-text-container {
    margin: 0px;
  }
}

@media (max-width: 550px) {
  .vision-mission {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .description-careers {
      gap: 30px;
      grid-template-rows: auto auto;
    }

        .divider-image-text h4 {
          margin: 0;
        }

                .transparent-icons-text {
                  width: auto;
                }
}
