.head {
  position: relative;
  margin-bottom: 30px;
}

.image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box {
  // padding: 20px;            /* Padding inside the box */
  margin: 20px 10px; /* Reduce margins for smaller screens */
  padding-bottom: 40px;

  @media (max-width: 575px) {
    margin: 20px 5px; /* Further reduce margins */
  }

  @media (min-width: 576px) and (max-width: 767px) {
    margin: 20px 10px; /* Adjust margins for small devices */
  }

}

.highlight {
  font-weight: bold;
}

.box p {
  color: #555;              /* Medium grey color for the paragraph */
  font-size: 1rem;          /* Font size for the paragraph */
  line-height: 1.6;         /* Line height for better readability */
}

.center-title {
  letter-spacing: 2px;
  font-family: 'Switzer-Bold';
  color: var(--orange);
  padding-bottom: 30px;
}



// The grid boxes

.cards1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-bottom: 40px;
  margin: 0 10px; /* Reduce margins for smaller screens */
  @media (max-width: 575px) {
    grid-template-columns: 1fr; /* Single column for smallest devices */
    margin: 0 5px; /* Further reduce margins */
  }

  @media (min-width: 576px) and (max-width: 767px) {
    grid-template-columns: 1fr; /* Single column for small devices */
    margin: 0 10px; /* Adjust margins */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    grid-template-columns: 1fr 1fr; /* Two columns for medium devices */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns for large devices */
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns for extra large devices */
  }
}

.card-category1 {
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: contain;
  transition: transform 0.5s ease; /* Adjust transition speed and timing function */

  @media (max-width: 575px) {
    height: 200px; /* Adjust card height for smaller screens */
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  @media (min-width: 576px) and (max-width: 767px) {
    height: 250px; /* Adjust card height for small devices */
    font-size: 20px; /* Adjust font size for small devices */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    height: 280px; /* Adjust card height for medium devices */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: 300px; /* Adjust card height for large devices */
  }

  @media (min-width: 1200px) {
    height: 320px; /* Default card height for extra large devices */
  }

}

.title {
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Adjust the spacing between letters */
}





.card-category1:hover {
  transform: scale(1.05); /* Slightly scales the div */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

// Smallest device


@media (max-width: 800px) {

  // .card-project-show {

  // }

  .project-desc {
    grid-template-columns: 1fr !important;
  }
}
