<p>Hello <%= @user.first_name %>,</p>

<p>This is a reminder that your competency in <%= @competency.name %> is set to expire on <%= @competency.expiration_date %>. Please take the necessary actions to renew it.</p>

<p>Thank you,</p>
<p>DNNovation</p>
