<div class="">

  <div class="">

    <div class="">
      <h1 style="color: var(--orange); font-family: 'Switzer-Black';">EDIT JOB</h1>
      <%= render 'form', job: @job %>
    </div>

  </div>

</div>
