<h1 style="color: var(--orange); font-family: 'Switzer-Black';">ADD A NEW JOB</h1>

<%= render 'form', job: @job %>


<div style="margin-bottom: 50px;">
<%= link_to 'Back', jobs_path, class: 'gradient-button' %>
</div>
