.policy{
  /* Styles for the Privacy Policy page */

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  line-height: 1.6;


  h1, h2, h3, h4 {
    color: #333;
  }

  h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    color: #555;
  }

  ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  footer {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 10px;
    text-align: center;
    color: #777;
  }

  footer a {
    color: #007bff;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .important-note {
    background-color: #f8f9fa;
    border-left: 4px solid #007bff;
    padding: 10px;
    margin: 20px 0;
  }

}
