

  <div class="head">
    <div class="image-wrapper">
      <img src="https://plus.unsplash.com/premium_photo-1661962552319-1f0abc1fc7f7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="train photo">
      <div class="overlay">
        <h1>Careers</h1>
      </div>
    </div>

  </div>


<div class="container">
 <div class="services">
  <h1>Services</h1>
  <div class="search-bar">
      <input type="text" placeholder="Coss..">
      <button type="submit">Search</button>
    </div>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Supervisor</a></li>
      <li><a href="">Manager</a></li>
      <li><a href="">360 operator</a></li>
      <li><a href="">Dumper Driver</a></li>
      <li><a href="">Forklift Driver</a></li>
      <li><a href="">Engineer</a></li>
      <li><a href="">Ground workers</a></li>

    </ul>
</div>



  <div class="content-right">
      <div class="title">
        <h1>
          Jobs available
        </h1>
      </div>
    <div class="job-grid">

      <div class="job-card">
        <h3>Coss</h3>
         <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Supervisor</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>Cambridge</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>Newcastle</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <div class="job-card">
        <h3>Ground Worker</h3>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>Oxford</span>          </div>
        <p>Carry out day to day tasks. Monday-Friday, some weeekend.</p>
        <a href="#" class="read-more-button">Read More</a>
      </div>
      <!-- Add more job cards as needed -->
    </div>
      <div class="content-divider">
        <div class="divider-line"></div>
    </div>
    <div class="message">
      <div class="registration">
        <h3>
          <strong><a href="/register">Register</a></strong> with us to receive the latest job opportunities straight to your inbox
          <span style="font-size: 1.5em;">&#9993;</span>.
        </h3>
      </div>
      <h3>
         <strong> The best way </strong> to keep on top of our latest job opportunities is to follow us on social media and to keep up with
        with our whatsapp group. Please <strong>scan the QR code </strong> below to join<span>&#128242;&#128071;</span>.
      </h3>
      <div class="qr-code-wrapper">
        <img src="<%= asset_path 'qr.png' %>" alt="WhatsApp Group QR Code" class="qr-code">
      </div>

    </div>
  </div>




 <%# <%= link_to "Read More", northumberland_details_path, class: "read-more-button" %>
