<div id="blob"></div>

<section class="hero-section">
  <div class="hero-content">
    <h1 class="h-title bold-text">DNNovation</h1>
    <h4 class="h-subtitle">THE SOLUTION FOR YOUR PROJECT IDEA</h4>
    <div class="h-links">
      <%= link_to project_ports_path do %>
        <button class="gradient-button">contact us <i class="fa-solid fa-arrow-right" style="color: #e44e32;"></i></button>
      <% end %>
      <%= link_to jobs_path do %>
        <button class="gradient-button">join us <i class="fa-solid fa-arrow-right" style="color: #e44e32;"></i></button>
      <% end %>
    </div>
  </div>
</section>

<section class="hidden expertise-section">
  <div class="text">
    <h3>OUR EXPERTISE</h3>
    <p>and here goes multa vrajeala, vrajeala, vreajeala, we the best, vrajeala</p>
  </div>
  <div class="cards">
    <div class="card hidden">
      <h4 style="font-family: 'Switzer-Bold';" >CONTRUCTION</h4>
      <p>vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat</p>
      <i class="fa-solid fa-hammer" style="color: #EA5D30;"></i>
    </div>
    <div class="card hidden">
    <h4 style="font-family: 'Switzer-Bold';" >RAILWAYS</h4>
      <p>vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat</p>
      <i class="fa-solid fa-train" style="color: #EA5D30;"></i>
    </div>
    <div class="card hidden">
    <h4 style="font-family: 'Switzer-Bold';" >ELECTRICITY</h4>
      <p>vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat vrajeala maxima despre cum sunteti super buni pe contructii, eventual ziceti niste firme mari cu care ati lucrat</p>
      <i class="fa-solid fa-bolt-lightning" style="color: #EA5D30;"></i>
    </div>
  </div>
</section>

<%# se poate sa lasam about section fara sa vina din stanga? %>
<section class="about-section">
  <div class="about-content">
    <h3 style="font-family: 'Switzer-Bold'; text-align: left;">INNOVATIVE SOLUTIONS FOR SMOOTH, SAFE AND HIGH-QUALITY PROJECT DELIVERY</h3>
    <div class="abt-txt">
      <p>At DNNovation, our vision is to revolutionize the resourcing industry by providing bespoke solutions that ensure smooth project delivery, prioritize safety, and maintain high-quality standards.</p>
      <div class="about-links">
        <%= link_to about_path do %>
          <button class="gradient-button">read more <i class="fa-solid fa-arrow-right" style="color: #e44e32;"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="hidden portofolio-section"></section>

<section class="hidden testimonial-section"></section>

<section class="hidden cta-section"></section>
