<section class="hero-section">
  <div class="hero-content">
    <h1 class="h-title bold-text">DNNovation</h1>
    <h4 class="h-subtitle">THE SOLUTION FOR YOUR PROJECT IDEA</h4>
    <div class="h-links">
      <%= link_to project_ports_path do %>
        contact us ->
      <% end %>
      <%= link_to jobs_path do %>
        join us ->
      <% end %>
    </div>
  </div>
</section>

<section class="hidden expertise-section">
  lorem ipsum
</section>

<section class="hidden about-section"></section>

<section class="hidden portofolio-section"></section>

<section class="hidden testimonial-section"></section>

<section class="hidden cta-section"></section>
