<div id='map' style='width: 100%; height: 500px;'></div>

<script>
  mapboxgl.accessToken = '<%= Rails.application.credentials.dig(:mapbox, :api_key) %>';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v11', // Replace with your preferred Mapbox style
    center: [-0.1276, 51.5074], // Initial center set to London
    zoom: 5
  });

  // Add markers or other Mapbox functionality here...
</script>
