  <div class="head">
    <div class="image-wrapper">
      <img src="https://images.unsplash.com/photo-1599995903128-531fc7fb694b?q=80&w=3131&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">      <div class="overlay">
        <h1>Our projects</h1>
      </div>
    </div>
  </div>


  <div class="box">
    <h2 class="center-title">Our Services</h2>
    <p>
      "We offer comprehensive service solutions, providing full teams from
       management and skilled machinists to laborers, complete with
       vans and necessary tools to support every aspect of the project."
    </p>
  </div>



  <div class="grid-container">
    <div class="box">
      <p>Box 1</p>
    </div>
    <div class="box">
      <p>Box 2</p>
    </div>
    <div class="box">
      <p>Box 3</p>
    </div>
  </div>

  <div class="list">
    <ul>
      <li><a href="">Construction</a></li>
      <li><a href="">Rail</a></li>
      <li><a href="">Electricity</a></li>
    </ul>

  </div>
