.course-details-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 100%; // Ensure it doesn't overflow
  overflow: hidden; // Hide any overflowing content
  box-sizing: border-box; // Include padding in the width

  h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    word-wrap: break-word; // Handle long words
  }

  .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 20px;
    flex-wrap: wrap;

    .price,
    .location {
      font-size: 1rem;
      color: #555555;
      background: transparent;
      padding: 5px;
      flex: 1 1 auto;
      // min-width: 150px;
      box-sizing: border-box;
      text-align: center;
    }

    .location {
      text-align: right;
    }
  }

  .course-description {
    box-shadow: inset 0px 14px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #EA5D30;
    border-radius: 5px;
    font-size: 0.95rem;
    color: #444444;
    line-height: 1.6;
    box-sizing: border-box; // Include padding in the width
  }

  .course-map {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 200px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .admin-actions {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 1.5rem;
      color: #EA5D30;
      margin-bottom: 15px;
    }

    .admin-actions-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}

/* Responsive Media Queries */
@media (max-width: 1024px) {

  .course-info .location {
    text-align: center;
    margin-top: 10px;
  }

  .admin-actions {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .course-details-wrapper h1 {
    font-size: 1.8rem;
  }

  .course-description {
    font-size: 0.9rem;
    padding: 15px;
  }

  .admin-actions h3 {
    font-size: 1.4rem;
  }

  .course-info {
    flex-direction: column;
    text-align: center;
    align-items: baseline;
  }
}

@media (max-width: 480px) {
  .course-details-wrapper {
    padding: 15px;
  }

  .course-details-wrapper h1 {
    font-size: 1.5rem;
  }

  .course-description {
    font-size: 0.85rem;
    padding: 15px;
  }

  .course-map iframe {
    height: 150px;
  }

  .admin-actions h3 {
    font-size: 1.2rem;
  }

        .course-info {
          flex-direction: column;
          text-align: center;
          align-items: baseline;
        }
}
