<div id="<%= dom_id project_port %>">
  <p>
    <strong>Name:</strong>
    <%= project_port.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_port.description %>
  </p>

  <p>
    <strong>Collaborations:</strong>
    <%= project_port.collaborations %>
  </p>

</div>
