<h1>Editing project port</h1>

<%= render "form", project_port: @project_port %>

<br>

<div>
  <%= link_to "Show this project port", @project_port %> |
  <%= link_to "Back to project ports", project_ports_path %>
</div>
