
<div class="texture">

  <div class='new-project'>

    <div class="">
      <h1 style="color: var(--orange); font-family: 'Switzer-Black';">NEW PROJECT</h1>
      <%= render "form", project_port: @project_port %>
    </div>

  </div>

</div>
