
  <div class='new-project' style="margin-top: 50px;">

    <div class="">
      <h1 style="color: var(--orange); font-family: 'Switzer-Black';">NEW PROJECT</h1>
      <%= render "form", project_port: @project_port %>
    </div>

  </div>
