<% if params[:duplicate] %>
  <h1 class="form-heading"><%= @name %></h1>
<% else %>
  <h1 class="form-heading">New Course</h1>
<% end %>

<%= render "form", course: @course %>

<%= link_to 'Back', courses_path, class: 'gradient-button' %>
