body {
  background-color: black;
  color: white;
}

// the blob animation

@keyframes rotate {
  from {
    rotate: 0eg;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: red;
  height: 400px;
  aspect-ratio: 1;
  position: absolute;
  // left: 50%;
  // top: 50%;
  translate: -50% -50%;
  border-radius: 50%;

  background: linear-gradient(
  to right,
    rgb(2130, 27, 8),
    rgb(39, 95, 214)
  );

  animation: rotate 20s infinite;
  filter: blur(200px);

  pointer-events: none;
  z-index: -1;
}
