.navbar {
  background-color: var(--milkey-white);
  // overflow: hidden;
  display: flex; /* Use flexbox for the navbar */
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Center align items vertically */
  padding: 0 20px; /* Optional: Add some padding for better alignment */
}

.navbar-left {
  display: flex;
  align-items: center; /* Align items vertically */
  flex-shrink: 0; /* Prevents the left section from shrinking */
}

.navbar-left a {
  display: flex;
  align-items: center; /* Ensures the image is centered vertically */
}

.navbar-right {
  display: flex;
  align-items: center; /* Align items vertically */
}

.dropdown {
  position: relative; /* Needed for dropdown positioning */
  display: inline-block; /* Inline-block to maintain layout */
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;

  color: #1D2327;

  background-color: inherit;
  margin: 0;
  padding: 14px 16px;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EA5D30;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white; /* Change text color to white */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}

.logo {
  height: 30px; /* Adjust the height of the logo */
  width: auto;
}

.logout {
  background: transparent;
  border: transparent;
  text-decoration: none;
  font-size: 16px;
  color: var(--grey);
}

.logout:hover {
  background-color: var(--milky-white);
}

.house {
  visibility: hidden;
}

@media (max-width: 767px) {
  .logo {
    visibility: hidden;
    width: 0;
  }

  .house {
    visibility: visible;
  }
  .navbar-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .navbar .dropdown a, .logout {
    font-size: 0.7rem !important;
  }
}
