/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.scss */

@import "components/index";
@import "components/home/index";
@import "components/fonts/WEB/css/switzer";

body {
  font-family: 'Switzer-Regular', sans-serif;
}

.bold-text {
  font-family: 'Switzer-Black', sans-serif;
}

.gradient-button {
  background-color: transparent; /* No background initially */
  border: 2px solid rgba(228, 78, 50, 0.5); /* Orange border */
  // color: rgba(228, 78, 50, 0.5); /* Orange text */
  color: #FEFCFF;
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background 0.5s ease, color 0.5s ease; /* Smooth transition */
}

.gradient-button:hover {
  background: linear-gradient(45deg, #FFA500, rgba(228, 78, 50, 0.5)); /* Gradient background on hover */
  color: #FEFCFF; /* Change text color to white on hover */
  border: 2px solid transparent; /* Remove border on hover */
}
