/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.scss */

@import "components/index";
@import "components/home/index";
@import "components/device/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
// @import "components/fonts/WEB/css/switzer";
// @import "index";
// @import "login";

body {
  font-family: 'Switzer-Regular', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  overflow-x: hidden;
  // background-color: #1D2327;
  // #1D2327 - grey
  // #EA5D30 - orange
  // #f9f9f9 - white
}

main {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bold-text {
  font-family: 'Switzer-Black', sans-serif;
}

.gradient-button {
  background-color: transparent; /* No background initially */
  border: 2px solid #EA5D30;
  // color: rgba(228, 78, 50, 0.5); /* Orange text */
  color: #1D2327;
  padding: 10px 20px; /* Padding for the button */
  // font-size: 16px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease; /* Smooth transition */
  font-size: 1rem;
  font-family: 'Switzer-Semibold';
  text-transform: uppercase;
  border-radius: 5px;
}

.gradient-button:hover {
  background: linear-gradient(45deg, #EA5D30, #1D2327);
  border: transparent;
  color: #f9f9f9; /* Change text color to white on hover */
  // border: 2px solid transparent; /* Remove border on hover */
  i {
    color: #f9f9f9;
  }
}
// #back-link {
//   background: orangered;
//   color: black;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 5px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: background 0.3s ease;
//   width: 40px;
//   height: 18px;
//   margin-left: 45%;
//   margin-bottom: 40px;
// }

html,
body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  /* Ensure the body does not extend beyond the viewport */
}
